
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DevArt 2014 Korean Supporter Page - Unofficial : DevArt 2014 Korean Supporter Page - Unofficial" />

    <title>DevArt 2014 Korean Supporter Page - Unofficial</title>

    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css"> -->
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
    </style>

    <link rel="stylesheet" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/cwdoh/devart">View on GitHub</a>

          <h1 id="project_title">DevArt 2014</h1>
          <h2 style="color: white;">- Korean Supporter's Unofficial Page</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
