# Created by http://www.gitignore.io

### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules


## Sublime text project files
*.sublime-*

## System files 

.DS_Store
*.log
*.swp


