/* Base Color #0090FF - */
/* Reset HTML5 Elements */
html, body, header, section, footer, aside, nav, body, ul, li, a{
  margin: 0;
  left: 0;
  padding: 0;
  border: 0;
  display: block;
  outline: none;
}

/* Reset list Elements */
ul, dl, ol{
  /*list-style: none;*/
  /*display: block;*/
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #2a2a2a;
	font: 1em 'Apple SD Gothic Neo', '맑은 고딕','Malgun Gothic', 'Nanum Gothic', '나눔고딕','Driod Sans Fallback', 'Driod Sans', Helvetica, 'Gulim', arial;
	letter-spacing: 0.05em;
	word-spacing: 0.2em;
	line-height: 1.5em;
	color: #eee;
	text-rendering: auto;
	word-break: keep-all;
	word-wrap: break-word;
	/*-webkit-text-shadow: 0 0 1px rgba(0,0,0,0.3);*/
	/*-moz-text-shadow: 0 0 1px rgba(0,0,0,0.3);*/
	-ms-text-shadow: 0 0 1px rgba(0,0,0,0.3);
	-o-text-shadow: 0 0 1px rgba(0,0,0,0.3);
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

a, a:active{
	display: inline-block;
	color: #0090FF;
	text-decoration: none;
	padding: 2px 4px 0;
}

a:hover{
	color: #fff;
	transition: background-color ease 0.4s;
	background-color: #0090ff;
	cursor: pointer;
	cursor: hand;
	border-radius: 10px;
}

/* Design section */

header{
	background-color: #191919;
	text-align: center;
	font-weight: 100;
	width: 100%;
	color: #eee;
	padding: 30px 0;
	margin-top: 100px;
}
	header #logo{
		padding: 30px 0;
		width: 280px;
	}

	header h2{
		font-weight: 100;
		color: #0090FF;
	}

nav{
	width: 100%;
	background-color: #242424;
	position: fixed;
	top: 0;
	box-shadow: 0px 20px 30px rgba(0,0,0,0.3);
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}

	#navMenu{
		display: block;
		max-width: 960px;
		margin: 0 auto;
		padding: 4px 0 10px;
		text-align: center;
	}

	#navMenu li{
		text-align: center;
		display: inline-block;
		width: 140px;
		padding: 10px 0 0;
		margin: 10px 20px;
		color: #aaa;
		border-bottom: 2px solid #aaa;
		cursor: pointer;
		cursor: hand;
	}

	#navMenu li:hover{
		color: #0090ff;
		border-color: #0090ff;
	}

	#navMenu input{
		display: none;
	}

	#navMenu input:checked + label li{
		color: #0090ff;
		border-color: #0090ff;
	}

	.button,
	.button:active{
		display: block;
		width: 200px;
		margin: 0 auto;
		font-size: 24px;
		background-color: #0090ff;
		color: #fff;
		padding: 16px 20px 14px;
		border-radius: 30px;
		cursor: hand;
		cursor: pointer;
	}

	.button:hover{
		background-color: #fff;
		color: #0090ff;
		border-radius: 30px;
	}

.mainContents, footer, #disqus{
	margin: 30px auto;
	background-color: #242424;
	max-width: 960px;
	padding: 30px 40px;
}
	.mainContents{
		/*display: none;*/
	}

	.mainContents h1{
		font-weight: 700;
		font-size: 2.2em;
		line-height: 1.2em;
	}

	.mainContents h2{
		margin-top: 80px;
		padding: 20px 0;
		border-bottom: 1px solid #444;
		line-height: 1.4em;
	}

	.mainContents ol, ul, p{
		padding: 10px;
		/*list-style: inside;*/
	}

	.mainContents li{
		/*content : '+ ';*/
		font-weight: 100;
		padding: 5px 20px;
		/*border-left: 2px solid #fff;*/
	}

	.mainContents table{
		/*display: inline-block;*/
		margin: 30px auto;
	}


	.mainContents th{
		padding-top: 5px;
		background-color: #0090ff;
	}

	.mainContents td{
		padding: 10px 14px;
		background-color: #333;
	}


	#overview:checked ~ #overviewP,
	#fest:checked ~ #festP,
	#meetup:checked ~ #meetupP,
	#navMenu #guide:checked ~ #guideP
	{
		display: block;
		background-color: red;
	}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media (max-width: 320px){
	#navMenu li{
		width: 110px;
		margin: 10px 0;
	}
}.nav-social-container {
	margin:0;
	height:30px;
}

.social-media-list li {
	display:block;
	float: left;
	width: 25%;
	text-align:center;
	margin: 0 auto;
}
